<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hymma.Solidworks.Addins" version="2018.1.0" targetFramework="net48" />
  <package id="Hymma.Solidworks.Addins.Fluent" version="2018.1.0" targetFramework="net48" />
  <package id="Hymma.Solidworks.Interop" version="2018.1.0" targetFramework="net48" />
  <package id="QRCoder" version="1.4.3" targetFramework="net48" />
</packages>