<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Hymma.Solidworks.Extensions" publicKeyToken="e9fee7cb4dbd868c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.0.1.0" newVersion="18.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>