<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hymma.Solidworks.Addins" version="18.0.1" targetFramework="net461" />
  <package id="Hymma.Solidworks.Extensions" version="18.0.1" targetFramework="net461" />
  <package id="SOLIDWORKS.DLLs.2018" version="1.0.3" targetFramework="net461" />
</packages>