<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="UserRegistrationDlg"
					Width="370"
					Height="270"
					Title="[ProductName] Setup"
					NoMinimize="yes">
				<Control Id="NameLabel"
						 Type="Text"
						 X="45"
						 Y="73"
						 Width="100"
						 Height ="15"
						 TabSkip="no"
						 Text="&amp;User Name:"/>
				<Control Id="NameEdit"
						 Type="Edit"
						 X="45"
						 Y="85"
						 Width="220"
						 Height="18"
						 Property="USERNAME"
						 Text="{80}"/>
				<Control Id="OrganizationLabel"
						 Type="Text"
						 X="45"
						 Y="110"
						 Height="15"
						 Width="100"
						 TabSkip="no"
						 Text="&amp; Organization:"/>
				<Control Id="OrganizationEdit"
						 Type="Edit"
						 X="45"
						 Y="147"
						 Width="50"
						 Height="10"
						 TabSkip="no">
					<Text>CD &amp;Key:</Text>
				</Control>
				<Control Id="CDKeyEdit"
						 Type="MakedEdit"
						 X="45"
						 Y="159"
						 Width="250"
						 Height="16"
						 Property="PIDKEY"
						 Text="[PIDTemplate]"/>
			</Dialog>
		</UI> 
		<!-- TODO: Put your code here. -->
	</Fragment>
</Wix>
