name: Qrify Build

on:
  pull_request:
    branches:
    - master 
  push:
    branches:
    - master

env:
    NugetDirectory: ${{ github.workspace}}/nugets

defaults:
  run:
    shell: pwsh

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2
      with:
       vs-version: '[17.0^,18.0^)'

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Run build
      # shell: cmd
      # run: ./build.cmd
      run: msbuild hymma.solidworks.sln -restore -nologo -m -p:configuration=release -p:RestorePackagesConfig=true -p:BuildVersion=0.54 -p:AddinGuid={2EB85AF6-DB51-46FB-B955-D4A7708DA315} -p:Platform=X64 -p:IncludeSymbols=true -p:CreateNugetPackage=true

    - name: Save Package
      uses: actions/upload-artifact@v3
      with:
        name: nugets 
        path: ${{ env.NuGetDirectory}}/*.*nupkg

    - name: publish nuget
      run: |
        foreach($file in (Get-ChildItem "${{ env.NuGetDirectory}}" -Recurse -Include Hymma.Solidworks.*.*nupkg )){
         nuget push $file -ApiKey "${{ secrets.NUGET_APIKEY}}" -src https://api.nuget.org/v3/index.json -SkipDuplicate}
      